// this classes included variable color
@import '../../utilities/color/bg';
@import '../../utilities/color/text';
// buton util
@import '../../utilities/button/variable';

// match class with btn- prefix 
[class*="btn-"] {
    @extend %iflex;
    @extend %aic;
    @extend %jcc;
    text-decoration: none;
    padding: 0 15px;
    height: $btn-md;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap;
    font-family: inherit;
}

// onfocus
[class*="btn-"]:focus {
    outline: 0;
}

// coloring button

.btn-default {
    @include bg-default;
    border-color: $default;
}

.btn-o-default {
    color: $default;
}

.btn-primary {
    @include bg-primary;
    border-color: $primary;
}

.btn-o-primary {
    color: $primary;
}

.btn-success {
    @include bg-success;
    border-color: $success;
}

.btn-o-success {
    color: $success;
}

.btn-info {
    @include bg-info;
    border-color: $info;
}

.btn-o-info {
    color: $info;
}

.btn-warning {
    @include bg-warning;
    border-color: $warning;
}

.btn-o-warning {
    color: $warning;
}

.btn-danger {
    @include bg-danger;
    border-color: $danger;
}

.btn-o-danger {
    color: $danger;
}

// button outline
[class*="btn-o"] {
    background-color: transparent;
}

// button group
.group-btn {
    @extend %flex;

    > :not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -1.5px;
    }

    > :not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }


    [class*="btn-o"] {
        background-color: #fff;
    }
}
