// margin utility

// margin left
// ====================================================================

/**
 * Leftt margin
 */
.ml-auto {
    margin-left: auto;
}

.ml-1 {
    margin-left: 5px;
}

.ml-2 {
    margin-left: 7px;
}

.ml-3 {
    margin-left: 10px;
}

.ml-5 {
    margin-left: 15px;
}

/**
 * Right margin
 */
.mr-auto {
    margin-right: auto;
}

.mr-1 {
    margin-right: 5px;
}

.mr-2 {
    margin-right: 7px;
}

.mr-3 {
    margin-right: 10px;
}

.mr-4 {
    margin-right: 15px;
}
