/**
 * Navbar
 */

.navbar {
    background-color: #333;
    min-height: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    @extend %flex;
    @extend %aic;

    @at-root {
        /*container*/
        & > .container {
            @extend %flex;
            @extend %aic;
            width: 100%;
            padding-left: 75px;
            padding-right: 75px;
        }
    }
    // end root
}

/*brand*/
.nb-brand {
    @extend %flex;
    @extend %aic;
    color: #feffff;
    text-decoration: none;
    font-weight: 600;
    margin-right: 15px;
}

/*navbar toggler*/
.nb-toggler {
    border: 1.5px solid #777;
    border-radius: 3px;
    outline: 0;
    width: 50px;
    background-image: url('../../assets/icons/bars-white.svg');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-left: auto;
    display: none;
}

/*navbar collapse*/
.nb-collapse {
    @extend %flex;
    width: 100%;
}

/*navbar menu*/
.nb-nav {
    @extend %flex;
    @extend %aic;
    list-style: none;
    margin: 0;
    padding: 0;

    > li.link > a.item {
        @extend %flex;
        color: rgba(255,255,255,.55);
        padding: 8px 10px;
        text-decoration: none;
        font-size: 16px;
    }
}



























