<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Button</title>
        <!--Style-->
        <link rel="stylesheet" href="../dist/css/app.css" />
    </head>
    <body style="padding: 15px; padding-bottom: 150px;">
        <p>Standard button</p>
        <button class="btn-primary">Button</button>
        <p>Button group</p>
        <div class="group-btn">
            <button class="btn-primary">First</button>
            <button class="btn-primary">Center</button>
            <button class="btn-primary">Last</button>
        </div>
        <div class="group-btn" style="margin-top: 15px;">
            <button class="btn-o-primary">Submit</button>
            <button class="btn-o-primary">Submit</button>
            <button class="btn-o-primary">Submit</button>
            <button class="btn-o-primary">Submit</button>
        </div>
        <p>Outline button</p>
        <button class="btn-o-primary">First</button>
        <p>Large button</p>
        <button class="btn-o-primary lg">Submit</button>
        <button class="btn-primary lg">Submit</button>
        <button class="btn-primary lg">Submit</button>
    </body>
</html>
