<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Input</title>
        <!--Style-->
        <link rel="stylesheet" href="../dist/css/app.css" />
    </head>
    <body style="padding: 15px; padding-bottom: 150px;">
        <p>Input</p>
        <form action="">
            <input type="text" class="input" placeholder="Username" />
        </form>
        <p>input group</p>
        <div class="input-group">
            <input type="text" class="input" placeholder="Frist name" />
            <input type="text" class="input" placeholder="Last name" />
            <input type="text" class="input" placeholder="Last name" />
        </div>
    </body>
</html>
