<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Modal</title>
        <!--Style-->
        <link rel="stylesheet" href="../dist/css/app.css" />
    </head>
    <body style="padding: 15px; padding-bottom: 150px;">
        <p>Standard button</p>
        <button class="btn-primary">Button</button>
        <p>Button group</p>
        <div class="group-btn">
            <button class="btn-primary">First</button>
            <button class="btn-primary">Center</button>
            <button class="btn-primary">Last</button>
        </div>
        <div class="group-btn" style="margin-top: 15px;">
            <button class="btn-o-primary">Submit</button>
            <button class="btn-o-primary">Submit</button>
            <button class="btn-o-primary">Submit</button>
            <button class="btn-o-primary">Submit</button>
        </div>
        <p>Outline button</p>
        <button class="btn-o-primary">First</button>

        <!--modal-->
        <div class="modal" id="modal">
            <div class="content">
                <div class="header">
                    Modal header <span class="modal-close">&times;</span>
                </div>
                <div class="body">
                    Ipsum nam commodi laboriosam ex omnis! Qui corrupti tempore
                    nemo soluta perferendis! Rerum cupiditate at magni minus
                    quisquam sapiente In sint sapiente est voluptate sequi ipsum
                    suscipit Eligendi vitae dolores
                </div>
                <div class="footer">
                    <button class="btn-primary" style="margin-left: auto;">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>
