<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Table</title>
        <!--Style-->
        <link rel="stylesheet" href="../dist/css/app.css" />
    </head>
    <body style="padding: 15px; padding-bottom: 150px;">
        <p>Table</p>
        <table class="table">
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Username</th>
            </tr>
            <tr>
                <td>1.</td>
                <td>Alex</td>
                <td>alex190</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>Alex</td>
                <td>alex190</td>
            </tr>
        </table>
        <p>Hoverable</p>
        <table class="table table-hover">
            <tr class="heading">
                <th>No</th>
                <th>Name</th>
                <th>Username</th>
            </tr>
            <tr>
                <td>1.</td>
                <td>Alex</td>
                <td>alex190</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>Alex</td>
                <td>alex190</td>
            </tr>
        </table>
        <p>no bordered</p>
        <table class="table table-hover no-border">
            <tr class="heading">
                <th>No</th>
                <th>Name</th>
                <th>Username</th>
            </tr>
            <tr>
                <td>1.</td>
                <td>Alex</td>
                <td>alex190</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>Alex</td>
                <td>alex190</td>
            </tr>
        </table>
    </body>
</html>
