.container {
    padding: 0 75px;
}
// column size
.col-lg-1 {
    width: 8.3333%;
}

.col-lg-2 {
    width: 16.666%;
}

.col-lg-3 {
    width: 25%;
}

.col-lg-4 {
    width: 33.333%;
}

.col-lg-5 {
    width: 41.666%;
}

.col-lg-6 {
    width: 50%;
}

.col-lg-7 {
    width: 58.333%;
}

.col-lg-8 {
    width: 66.666%;
}

.col-lg-9 {
    width: 75%;
}

.col-lg-10 {
    width: 83.333%;
}

.col-lg-11 {
    width: 91.666%;
}

.col-lg-12 {
    width: 100%;
}